

    <md-card flex-lg="40" ng-repeat="item in card.cards">

       <md-card md-theme-watch>
        <md-card-title>

          <md-card-title-text >
            <span class="md-headline">{{item.company.name}}</span>            
            <p >{{item.card.name}}</p>            
          </md-card-title-text>

          <md-card-title-media>
            <div class="md-media-sm card-media">                  
                  <img ng-src="{{item.company.link_image_little}}" class="img-circle profile-photo" alt="Washed Out">
            </div>
          </md-card-title-media>
        </md-card-title>
         <md-card-content>
            <p>{{item.card.description}}</p>
            <md-progress-linear class="md-warn"  md-mode="determinate" value="{{item.card.achieve/item.currentScore}} "></md-progress-linear>
            <span class="md-caption">{{item.currentScore}}  de {{item.card.achieve}} | validade: {{item.endDate}}</span>

         </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
          <!--<md-button>Action 1</md-button>
          <md-button>Action 2</md-button>-->
        </md-card-actions>
      </md-card>   
     
    </md-card>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="addCardDialog">
        <md-dialog layout-padding flex="50">
            <h2>{{card.editing ? 'Atualizar Campanha' : 'Cadastrar Nova Campanha'}}</h2>
            <form name="FormCard">
                <md-input-container class="md-block">
                    <label>Título</label>
                    <input type="text" name="name" ng-model="card.cadastro.name" placeholder="Título da Campanha" required="" />
                    <div ng-messages="FormCard.name.$error" role="alert" multiple="">
                        <div ng-message="required" class="my-message">Por favor, informe o Título.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Regulamento</label>
                    <textarea ng-model="card.cadastro.description" placeholder="Descrição das regras" md-maxlength="255" rows="3" required=""
                        name="description" md-select-on-focus></textarea>
                    <div ng-messages="FormCard.description.$error" role="alert" multiple="">
                        <div ng-message="required" class="my-message">Por favor, informe o regulamento.</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-input-container flex class="md-block">
                        <label>Meta de Pontos</label>
                        <input type="number" name="achieve" ng-model="card.cadastro.achieve" placeholder="Meta de pontos para o resgate da recompensa"
                            required="" />
                        <div ng-messages="FormCard.achieve.$error" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Por favor, informe a Meta.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex class="md-block">
                        <label>Perído de Validade</label>
                        <input type="number" name="intervalDate" ng-model="card.cadastro.interval_date" placeholder="Prazo do cliente para atingir a meta"
                            required="" />
                        <div ng-messages="FormCard.intervalDate.$error" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Por favor, informe a Validade.</div>
                        </div>
                    </md-input-container>
                </div>
            </form>
            <md-button ng-disabled="!FormCard.$valid" ng-click="card.editing ? card.EditCard() : card.AddCard()" class="md-raised md-primary">{{card.editing ? 'Atualizar' : 'Cadastrar'}}</md-button>
        </md-dialog>
    </div>
</div>