<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" style="background-color:#f44336">
    
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33" >
        
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span><strong>Web Cliente Fidelitos</strong></span></h2>
            </div>
        </md-toolbar>

        <md-card-content>
            
            <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                
                <md-tab label="-">
                <md-progress-linear md-mode="indeterminate" ng-disabled="!login.loading"></md-progress-linear>    
                    <md-content class="md-padding">
                        <form name="Form">
                            <md-input-container class="md-block">
                                <label>Celular</label>
                                <input type="text" name="celular" autofocus ng-model="login.cellphone" placeholder="(XX) XXXXX-XXXX" required=""md-maxlength="15" />
                                <div ng-messages="Form.email.$error" role="alert" multiple="">
                                    <div ng-message="required" class="my-message">Por favor, informe seu celular com o DDD.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block"  ng-show="login.btHaveCode">
                                <label>Código de acesso</label>
                                <input type="text" name="password" ng-model="login.password" md-maxlength="10" required/>
                                <div ng-messages="Form.password.$error" role="alert" multiple="">
                                    <div ng-message="required" class="my-message">Por favor, informe eu código de acesso recebido por sms.</div>
                                </div>
                            </md-input-container>

                            <div layout="row">
                                <md-button flex ng-disabled="login.loading" ng-show="!login.btHaveCode"
                                ng-click="login.btHaveCode = true;" class="md-raised md-primary">Já tenho um código de acesso</md-button>                                
                            </div>
                            <div layout="row">                                
                                <md-button flex ng-disabled="!login.btHaveCode || !Form.celular.$valid" ng-click="login.submitClient()" class="md-raised md-primary">Entrar</md-button>
                                
                                <md-button flex name="btGerarCode" ng-disabled="login.btHaveCodeClicked || !Form.celular.$valid" ng-click="login.generateAccess()" class="md-raised md-primary">Gerar Acesso</md-button>                                
                            </div>
                           <div id="div_temp_counter" style="display:none">
                            Código de acesso enviado via sms no seu celular.. <label id="temp_counter"></label>
                           </div>                            
                            
                        </form>
                    </md-content>
                </md-tab>
            </md-tabs>

        </md-card-content>
    </md-card>
</md-content>