
<md-card>
    <md-toolbar class="md-table-toolbar md-default">
          <div class="md-toolbar-tools">
            <span>Ouvidoria</span>
            <div flex></div>
          </div>
        </md-toolbar>
<md-table-container>
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column class="col-md-1"></th>
                <th md-column class="col-md-2">Tipo</th>
                <th md-column class="col-md-3">Cliente</th>
                <th md-column class="col-md-6">Texto</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="item in ombudsman.itens">
                <td md-cell>
                    <i class="glyphicon"  style="font-size:1.5em;" ng-class="{'glyphicon-thumbs-up': item.type == 'Elogio', 'glyphicon-thumbs-down': item.type == 'Reclamação', 'glyphicon glyphicon-asterisk' : item.type == 'Sugestão'}"></i>
                </td>
                <td md-cell>{{item.type}}</td>
                <td md-cell>{{item.client.name || 'Anônimo'}} </td>
                <td md-cell>{{item.text}}</td>
            </tr>
            <tr ng-hide="ombudsman.itens.length">
                <td colspan="4" class="text-center" style="padding: 20px">
                    Nenhum Registro Encontrado
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
</md-card>