<md-card ng-cloak="ng-cloak">
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span>Perfil</span>
      <div flex></div>
    </div>
  </md-toolbar>
  <md-card-content>
    <form name="formSettings">
      <div layout="row">
        <md-input-container flex class="md-block">
          <label>Nome</label>
          <input type="text" name="name" ng-model="settings.cadastro.name" required="" />
          <div ng-messages="formSettings.name.$error" role="alert" multiple="">
            <div ng-message="required" class="my-message">Por favor, informe o Nome</div>
          </div>
        </md-input-container>
        <md-input-container flex class="md-block">
          <label>E-mail</label>
          <input type="email" name="email" ng-model="settings.cadastro.email" required="" />
          <div ng-messages="formSettings.email.$error" role="alert" multiple="">
            <div ng-message="required" class="my-message">Por favor, informe o E-mail.</div>
          </div>
        </md-input-container>
        <md-input-container flex class="md-block">
          <label>CNPJ/CPF</label>
          <input type="text" name="cpf_cnpj" ng-model="settings.cadastro.cpf_cnpj" required="" />
          <div ng-messages="formSettings.cpf_cnpj.$error" role="alert" multiple="">
            <div ng-message="required" class="my-message">Por favor, informe o CNPJ ou CPF.</div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex class="md-block">
          <label>Endereço</label>
          <input type="text" name="address" ng-model="settings.cadastro.address" />
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container flex class="md-block">
          <label>Link Facebook</label>
          <input type="text" name="link_facebook" ng-model="settings.cadastro.link_facebook" />
        </md-input-container>
        <md-input-container flex class="md-block">
          <label>Link Google Maps</label>
          <input type="text" name="link_map" ng-model="settings.cadastro.link_map" />
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex class="md-block">
          <label>Descrição</label>
          <textarea ng-model="settings.cadastro.description" md-maxlength="255" rows="3" name="description" md-select-on-focus></textarea>
        </md-input-container>
      </div>
      
      <div layout="row" layout-padding layout-wrap layout-fill>
        <md-card flex >
          <md-button class='md-raised' ngf-select='settings.uploadLarge($file)' type='file'>
            Imagem Principal
          </md-button>
          <img style="width:205px;margin: 0 auto;" src="{{settings.cadastro.link_image_large}}"/>
          </md-card> 
        <md-card flex >
          <md-button class="md-raised" ngf-select='settings.uploadLittle($file)' type='file'>Logomarca</md-button>
          <img style="width:100px; height:100px; margin: 0 auto;" class="img-circle profile-photo" src="{{settings.cadastro.link_image_little}}"/>
        </md-card>  
      </div>
<md-button class="md-raised md-primary" ng-click="settings.Update()">
  Salvar
</md-button>
    </form>
  </md-card-content>
</md-card>