<md-card>
    <md-card-content ng-init="board.Load()">
        <div layout="row">
            <md-input-container flex class="md-block">
                <label>Mural</label>
                <textarea ng-model="board.cadastro.mural" rows="5" name="mural" md-select-on-focus></textarea>
            </md-input-container>
            <div style="margin-left:50px;">
                <div class="marvel-device iphone5s silver">
                    <div class="top-bar"></div>
                    <div class="sleep"></div>
                    <div class="volume"></div>
                    <div class="camera"></div>
                    <div class="sensor"></div>
                    <div class="speaker"></div>
                    <div class="screen" ng-bind-html="board.cadastro.mural">
                    </div>
                    <div class="home"></div>
                    <div class="bottom-bar"></div>
                </div>

            </div>
        </div>
        <md-button class="md-raised md-primary" ng-click="board.Update()">
            Salvar
        </md-button>
    </md-card-content>
</md-card>