<md-card ng-cloak="" ng-init="client.LoadClients()">

<md-fab-speed-dial class="md-scale md-fab-top-right" md-open="client.isFabOpen" md-direction="left">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions>
          <md-button aria-label="Registrar Pontuação" class="md-fab md-raised md-mini" ng-click="client.OpenDialogAchieve();">
              <md-tooltip md-direction="down" md-visible="fabTooltipVisible">Registrar Pontuação</md-tooltip>
            <ng-md-icon icon="done"></ng-md-icon>
            
          </md-button>
          <md-button aria-label="Registrar Recompensa" class="md-fab md-raised md-mini" ng-click="client.OpenDialogReward();">
              <md-tooltip md-direction="left" md-visible="fabTooltipVisible">Registrar Recompensa</md-tooltip>
            <ng-md-icon icon="done_all"></ng-md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>

    <md-toolbar class="md-table-toolbar md-default" >
          <div class="md-toolbar-tools">
            <span>Clientes</span>
            <div flex></div>
          </div>
        </md-toolbar>
       
        
<md-table-container>
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column><span>Nome</span></th>
                <th md-column><span>E-Mail</span></th>
                <th md-column md-numeric>Pontos</th>
                <th md-column md-numeric>Resgates</th>
                <th md-column md-numeric>Visitas</th>
                <th md-column>Última Visita</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="cliente in client.clients">
                <td md-cell>{{cliente.name}}</td>
                <td md-cell>{{cliente.email}}</td>
                <td md-cell>{{cliente.current_score}}</td>
                <td md-cell>{{cliente.rewards_received}}</td>
                <td md-cell>{{cliente.qtd_all_visit}}</td>
                <td md-cell>{{cliente.last_visit | date : 'dd/MM/yyyy'}}</td>
            </tr>
            <tr ng-hide="client.clients.length">
                <td colspan="4" class="text-center" style="padding: 20px">
                    Nenhum Registro Encontrado
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
</md-card>

<div style="display: none" layout='row' flex ng-cloak="">
    <div class="md-dialog-container" id="dialogRegistroPontuacao">
      <md-dialog flex="50">

        <div ng-cloak>
          <div>
            <form name="FormCadastro">
              <md-toolbar>
                    <div class="md-toolbar-tools">
                      <h1 class="md-title">Registre a Pontuação</h1>
                    </div>
              </md-toolbar>
              
              <md-progress-linear md-mode="indeterminate" ng-show="client.recording"></md-progress-linear>
              <div layout-padding layout="column">
                
                <md-input-container>
                  <label>Promoção</label>
                  <md-select ng-model="client.achieve.idCard">
                    <md-option ng-value="item.id" ng-repeat="item in client.cards">{{item.name}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container>
                  <label>Pontos</label>
                  <input type="number" name="achieve" ng-model="client.achieve.achieve" placeholder="pontuação a ser cadastrada" required=""
                  />
                  <div ng-messages="FormCadastro.achieve.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Por favor, informe a pontuação.</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Celular</label>
                  <input type="number" name="cellphone" id="cellphoneDivRegistry" ng-model="client.achieve.cellphone" placeholder="celular com DDD"
                    required="" />
                  <div ng-messages="FormCadastro.cellphone.$error" role="alert" multiple="">
                    
                  </div>
                </md-input-container>
                <md-dialog-actions>
                  <div style="vertical-align: middle; margin-right: 15px;" >                
                    <md-button ng-click="client.RegisterVisit(); FormCadastro.reset()" ng-disabled="!FormCadastro.$valid || client.recording"
                      class="md-raised md-primary">Registrar Pontuação</md-button>                  
                    <ng-md-icon icon="done" ng-show="client.showRegist" size="50" style="fill: #43CD80; margin-bottom: 25px;"></ng-md-icon>                
                  </div>
                </md-dialog-actions>

              </div>
            </form>
          </div>
        </div>

      </md-dialog>
    </div>

</div>